<h2>View all the fluff buddies here!</h2>
<link rel="stylesheet" href="/css/viewPets.css" media="screen" title="no title">

<div ng-controller="viewPetsController">

<!-- look in viewPetsController for $scope.showPets. This is where the showPets name comes from -->
<!-- Also, the ng-repeat string is actually a for loop the appends all iterations of objects in the db to the DOM -->
  <div ng-repeat="friends in showPets">
    <h4>Pet Name: {{friends.name}}</h4>
    <h4>Pet Age: {{friends.age}}</h4>
    <img ng-src="{{friends.petUrl}}" alt="" />
    <hr>

  </div><!--end of repeat-->

</div> <!--end of controller-->
